

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #CC6666;
    text-decoration: none;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #CC6666;
    text-decoration: none;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #eb8f00;
    text-decoration: none;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #CC6666;
    text-decoration: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #fbd850;
    background: #CCCCCC url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
    font-weight: bold;
    color: #CC6666;
}